.pagination-component {
  margin-bottom: 40px !important;
  background: white;
  border-radius: 30px;
  width: fit-content;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  .pagination-component {
    justify-content: center;
  }
}
